/* fjalla-one-regular - latin */
@font-face {
    font-family: 'Fjalla One';
    font-style: normal;
    font-weight: 400;
    src: local('Fjalla One'), local('FjallaOne-Regular'),
    url('assets/fonts/fjalla-one-v6-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */ url('assets/fonts/fjalla-one-v6-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* noto-sans-regular - latin */
@font-face {
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 400;
    src: url('assets/fonts/noto-sans-v8-latin-regular.eot'); /* IE9 Compat Modes */
    src: local('Noto Sans'), local('NotoSans'),
    url('assets/fonts/noto-sans-v8-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('assets/fonts/noto-sans-v8-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */ url('assets/fonts/noto-sans-v8-latin-regular.woff') format('woff'), /* Modern Browsers */ url('assets/fonts/noto-sans-v8-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */ url('assets/fonts/noto-sans-v8-latin-regular.svg#NotoSans') format('svg'); /* Legacy iOS */
}

html {
    min-height: 100%;
    margin: 0;
}

body {
    background-color: #b37400;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    min-height: 100%;
    margin: 0;
}

header {
    background-color: #b37400;
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    font-size: 2vh;
    font-family: "Noto Sans", Arial, sans-serif;
    color: #FFFAFA;
    height: 5vh;
    max-width: 100%;
}

header p {
    margin-right: 2vh;
}

.hero {
    background-image: url('assets/images/castle.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    justify-items: center;
    align-items: center;
    display: grid;
    grid-template-columns: 1fr;
    width: 100vw;
    height: 95vh;
}

.hero img {
    margin: 1vh;
    width: 30vmin;
    height: auto;
}

.welcome {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.welcome div {
    font-family: "Fjalla One", Arial, sans-serif;
    text-shadow: 0 1px 0 black;
    color: #FFFAFA;
    font-size: 7vh;
    font-weight: bold;
}

.welcome section {
    background-color: #b37400;
    justify-items: center;
}

.welcomeimg {
    width: 100%;
}

.welcomecontent p {
    font-size: 2vh;
    font-family: "Noto Sans", Arial, sans-serif;
    color: #FFFAFA;
}

.mid {
    font-size: 3vh;
    font-family: "Noto Sans", Arial, sans-serif;
    color: #FFFAFA;
    display: grid;
    grid-template-columns: 1fr;
    max-width: 100%;
    justify-items: center;
}

.tours {
    font-size: 2vh;
    font-family: "Noto Sans", Arial, sans-serif;
    color: #FFFAFA;
    display: grid;
    max-width: 100%;
}

.overImage {
    background-image: url('assets/images/kid.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    width: 100%;
    min-height: 30vmax;
    max-height: 100%;
    display: inline-block;
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.5);
    position: relative;
}

.overImage * {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2;
}

.overImage div {
    z-index: 1;
    color: #fff;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: .5s;
}

.overImage div:target {
    opacity: 1;
    z-index: 3;
}

.tours div {
    background-image: linear-gradient(
            rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)
    ), url('assets/images/kid.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    align-items: center;
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.5);
    justify-items: left;
    height: 30vmax;
    display: grid;
    grid-template-columns: 1fr;
    max-width: 100%;
    z-index: 2;
}

.tours p {
    margin-left: 2vmax;
    z-index: 1;
    color: #fff;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 16px;
    opacity: 0;
    transition: .5s;
}

.tours p:target {
    opacity: 1;
    padding-top: 40%;
    z-index: 3;
}

footer {
    font-size: 1.5vh;
    font-family: "Noto Sans", Arial, sans-serif;
    color: #FFFAFA;
}

footer {
    background-color: #b37400;
    justify-items: center;
    display: grid;
    grid-template-columns: 1fr;
    margin: 0.5vh;
}

a {
    color: inherit;
}

@media screen and (min-width: 320px) and (max-width: 560px) {
    .welcome {
        display: flex;
        flex-direction: column;
    }
}

@media screen and (min-width: 640px) and (max-height: 1366px) {
    .welcome {
        display: flex;
        flex-direction: column;
    }
}

@media screen and (min-width: 310px) and (max-height: 375px) {
    .welcome {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (min-width: 730px) and (max-height: 411px) {
    .welcome {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    header {
        justify-items: end;
    }
}

@media screen and (min-width: 640px) {
    header {
        justify-items: end;
    }
}
