html {
    min-height: 100%;
    max-width: 100%;
    margin: 0;
}

body {
    background-color: #FAAB32;
    min-height: 100%;
    max-width: 100%;
    margin: 0;
}

header {
    background-color: #FAAB32;
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    font-size: 2vmax;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: #000000;
    height: 5vmax;
    max-width: 100%;
}

header p {
    margin-right: 2vmax;
}

.hero {
    background-image: url('assets/images/castle.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    justify-items: center;
    align-items: center;
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
    height: 95vmax;
}

.hero img {
    margin: 1vmax;
    width: 30vmin;
    height: auto;
}

.welcome {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.welcome div {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    text-shadow: 0 1px 0 black;
    color: #000000;
    font-size: 4vmax;
}

.welcome section {
    background-color: #FAAB32;
    justify-items: center;
}

.welcomeimg {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.welcomecontent p {
    font-size: 2vmax;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: #000000;
}

.tourstitle {
    font-size: 3vmax;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: #000000;
    display: grid;
    grid-template-columns: 1fr;
    max-width: 100%;
    justify-items: center;
    background-color: #C4D9D3;
}

.tourcard {
    position: relative;
}

.tourimage {
    opacity: 1;
    display: block;
    width: 100%;
    transition: .5s ease;
    backface-visibility: hidden;
    object-fit: cover;
}

.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.tourtitle {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
    display: block;
    font-size: 3vmax;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: #FFFAFA;
    background: rgba(0, 0, 0, 0.5);
    opacity: 1;
}

.tourcard:hover .tourimage {
    opacity: 0.3;
}

.tourcard:hover .middle {
    opacity: 1;
}

.tourcard:hover .tourtitle {
    opacity: 0;
}

.tourtext {
    text-align: justify;
    text-justify: inter-word;
    margin: 5vmax;
    font-size: 2vmax;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    color: #000000;
}

footer {
    font-size: 1.5vmax;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: #FFFAFA;
}

footer {
    background-color: #FAAB32;
    justify-items: center;
    display: grid;
    grid-template-columns: 1fr;
    margin: 0.5vmax;
    color: #000000;
}

a {
    color: inherit;
}
